html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    font-size: 16px;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

img {
    display: block;
    border: none;
    width: 100%;
}

section.banner {
    z-index: 2;
    position: relative;
    margin-top: 140px;
    background-color: #f9f9f9;
}

@media screen and (max-width: 1680px) {
    section.banner {
        margin-top: 127px;
    }
}

@media screen and (max-width: 1200px) {
    section.banner {
        margin-top: 123px;
    }
}
section.banner .bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 70%; // 你要的高度
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    
}

section.banner .bg svg {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;

}

section.banner .slogan {
    width: 27%;
    padding-bottom: 12%;
    position: absolute;
    top: 16%;
    left: 24%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: swing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

section.banner .key {
    width: 27.2%;
    padding-bottom: 26%;
    position: absolute;
    top: 10%;
    right: 18%;
    background-size: cover;
    background-repeat: no-repeat;
}

section.banner .airplane {
    width: 15.5%;
    padding-bottom: 9%;
    position: absolute;
    top: 16%;
    right: 2%;
    background-size: cover;
    background-repeat: no-repeat;
}

section.banner .scroll {
    width: 50px;
    height: 52px;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-repeat: no-repeat;
    animation: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slideInRight {
    0% {
        transform: translate3d(125%, 0, 0);
        visibility: visible;
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes scroll {
    to {
        top: 92%;
    }
    from {
        top: 94%;
    }
}

@keyframes swing {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

section.ebus {
    position: relative;
    background-color: #f9f9f9;
    padding-bottom: 13vw;
    z-index: 2;
    padding-top: 1vw;
}

section.ebus::before {
    content: "";
    position: absolute;
    background-image: url(../images/texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 20%;
    top: 0;
    left: 0;
    z-index: 0;
    background-position: center;
}

section.ebus .title {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

section.ebus .title h2 {
    font-size: clamp(40px, 4vw, 60px);
    font-weight: bold;
    text-align: center;
    color: #464546;
    line-height: 1;
    margin-bottom: 36px;
}

section.ebus .subtitle {
    position: relative;
    z-index: 1;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #464546;
    margin-bottom: 36px;
}

section.ebus .busform {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    margin-top: 20px;
}

section.ebus .busform .timetable {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #f9f9f9;
    justify-content: center;
    margin-bottom: 50px;
}

section.ebus .busform .timetable .pic {
    max-width: 490px;
    width: 48%;
}

@media screen and (max-width: 980px) {
    section.ebus .busform .timetable {
        flex-direction: column;
        align-items: center;
    }
    section.ebus .busform .timetable .pic {
        width: 100%;
    }
}

section.ebus .busform .box {
    padding-bottom: 60px;
    position: relative;
}

section.ebus .busform .instruct {
    background-color: #6ab146;
    width: 200px;
    margin: auto 0 auto;
    padding: 10px;
    border-radius: 0 20px 0 0;
    box-shadow: 3.7px 1.6px 6px 0 rgba(0, 0, 0, 0.31);
}

section.ebus .busform .instruct .inside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section.ebus .busform .instruct p {
    font-family: "Microsoft JhengHei";
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

section.ebus .busform .instruct .pic {
    max-width: 40px;
}

section.ebus .busform .return .instruct {
    margin-left: auto;
    border-radius: 20px 0 0 0;
}

section.ebus .busform .return .instruct .pic {
    max-width: 40px;
}

section.ebus .busform .return::after {
    position: absolute;
    content: "";
    width: 14%;
    padding-bottom: 23%;
    background-image: url(../images/turtle.png);
    bottom: -9px;
    right: -11%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

section.ebus .busform .station {
    padding: 30px;
    padding-top: 100px;
    border-top: 5px solid #6ab146;
    background: #fff;
}

section.ebus .busform .station .row {
    display: flex;

}






section.ebus .busform .station .row .bus {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}




// stop1靠左對齊

section.ebus .busform .station .row .bus .stopStart {
    width: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;    
}

section.ebus .busform .station .row .bus .stopStart .stop {
   width: 83px;
    margin: 0 auto;
    height: 54px;
    align-content:center;
}


// section.ebus .busform .station .row .bus .stopStart .stop p{
//     font-size: 18px;
//     font-weight: bold;
//     text-align: center;
//     color: #464546;  
// }

// section.ebus .busform .station .row .bus .stopStart .state p{
//     font-size: 18px;
//     font-weight: bold;
//     text-align: center;
//     color: #464546;  
// }

// section.ebus .busform .station .row .bus .stopStart .num ::after {
//     position: absolute;
//     content: "";
//     width: 70px;
//     height: 3px;
//     background-color: #6ab146;
//     top: 46%;
//     left: 100%;
// }

// section.ebus .busform .station .row .bus .stopStart .num ::before {
//     position: absolute;
//     content: "";
//     width: 150%;
//     height: 60%;
//     padding-top: 23%;
//     background-image: url(../images/pic-bus-colorfu.svg);
//     top: -70px;
//     right: -29%;
//     background-repeat: no-repeat;
//     background-size: cover;
//     z-index: 2;
// }



// section.ebus .busform .station .row .bus .stopStart .num {
//     width: 70px;
//     height: 70px;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border: 3px solid #ffffff;
//     position: relative;
//     background-color: #d25225;
// }

// section.ebus .busform .station .row .bus .stopStart .num p{
//     color: white;
// }






// 中間站別
section.ebus .busform .station .row .bus .stopCenter {
    width: 189px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;    
}

section.ebus .busform .station .row .bus .stopCenter .stop {
   width: 189px;
    margin: 0 auto;
    height: 54px;
    align-content:center;

}


section.ebus .busform .station .row .bus .stopCenter .stop p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #464546;  
}
// 
// section.ebus .busform .station .row .bus .stopCenter .state p{
//     font-size: 18px;
//     font-weight: bold;
//     text-align: center;
//     color: #464546;  
// }

section.ebus .busform .station .row .bus .stopCenter .num ::after {
    position: absolute;
    content: "";
    width: 122px;
    height: 3px;
    background-color: #6ab146;
    top: 46%;
    left: 100%;
}


section.ebus .busform .station .row .bus .stopCenter .num ::after {
    position: absolute;
    content: "";
    width: 122px;
    height: 3px;
    background-color: #6ab146;
    top: 46%;
    left: 100%;
}


// section.ebus .busform .station .row1 .bus .num-right ::after {
//     position: absolute;
//     content: "";
//     width: 42px;
//     height: 3px;
//     background-color: #6ab146;
//     top: 46%;
//     left: 100%;
// }


section.ebus .busform .station .row1 .bus::after {
    position: absolute;
    content: "";
    width: 124px;
    height: 3px;
    background-color: #6ab146;
    top: 20%;
    left: 67%;
}

section.ebus .busform .return .row1 .bus::after {
    position: absolute;
    content: "";
    width: 168px;
    height: 3px;
    background-color: #6ab146;
    top: 21%;
    left: 65%;
}


section.ebus .busform .station .row2 .bus::after {
    position: absolute;
    content: "";
    width: 168px;
    height: 3px;
    background-color: #6ab146;
    top: 20%;
    left: 64%;
}

section.ebus .busform .return .row2 .bus::after {
    position: absolute;
    content: "";
    width: 121px;
    height: 3px;
    background-color: #6ab146;
    top: 20%;
    left: 68%;
}

// section.ebus .busform .station .row2 .blue .num ::after {
//     position: absolute;
//     content: "";
//     width: 103px;
//     height: 3px;
//     background-color: #6ab146;
//     top: 46%;
//     right: 100%;
// }

section.ebus .busform .station .row1 .bus .num-right ::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background-color: #6ab146;
    top: 49%;
    left: 100%;
}

section.ebus .busform .station .row2 .bus .num-left ::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #6ab146;
    top: 46%;
    right: 100%;
}




section.ebus .busform .station .row2 .bus .num-left ::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background-color: #6ab146;
    top: 46%;
    right: 100%;
}


// section.ebus .busform .station .row .bus::after {
//     position: absolute;
//     content: "";
//     width: 58.2%;
//     height: 3px;
//     background-color: #6ab146;
//     top: 19.6%;
//     left: 70.3%;
// }



// 公車進出判斷
// orange=15:00進站
// bule=綠色時間（這次沒使用到）
// on=彩色公車＝正在位置
// 保持grey灰色尚未進站

section.ebus .busform .station .row .bus:last-child::before {
    display: none;
}

section.ebus .busform .station .row .bus:last-child::after {
    display: none;
}

section.ebus .busform .station .row .bus .num {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #6ab146;
    position: relative;
}

section.ebus .busform .station .row .bus .num p {
    font-family: "Arial";
    font-size: 36px;
    color: #6ab146;
}

section.ebus .busform .station .row .bus .stop {
    max-width: 220px;
    margin: 0 auto;
}

section.ebus .busform .station .row .bus .stop p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #464546;
}

section.ebus .busform .station .row .bus .stop span {
    display: block;
    font-family: "Microsoft JhengHei";
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #464546;
    line-height: 1;
}

section.ebus .busform .station .row .bus .state {
    max-width: 220px;
    margin: 0 auto;
    margin-top: 10px;
}

section.ebus .busform .station .row .bus .state p {
    font-family: "Microsoft JhengHei";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #7e7e7f;
    line-height: 1;
}

section.ebus .busform .station .row .bus .state .arriving {
    display: none;
}

section.ebus .busform .station .row .bus .state .arriving p {
    color: #d25225;
}

section.ebus .busform .station .row .bus .state .timing p {
    color: #3282b2;
}

section.ebus .busform .station .row .bus .state .notDeparted {
    display: none;
}

section.ebus .busform .station .row .bus .state .notDeparted p {
    color: #7e7e7f;
}

section.ebus .busform .station .row .orange .state p {
    color: #d25225;
}

section.ebus .busform .station .row .blue .state p {
    color: #6ab146;
}

section.ebus .busform .station .row .gray .state p {
    color: #7e7e7f;
}

section.ebus .busform .station .row .on .num {
    background-color: #d25224;
    border: 3px solid #eda036;
}



section.ebus .busform .station .row .on .num p {
    color: #fff;
}

section.ebus .busform .station .row .on .state .arriving {
    display: block;
}

section.ebus .busform .station .row .on .state .timing {
    display: none;
}

section.ebus .busform .station .row .on .state .notDeparted {
    display: none;
}

section.ebus .busform .station .row .hidden {
    display: none;
}






section.ebus .busform .station .line {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 25px;
    margin-bottom: 25px;
}

section.ebus .busform .coll {
    background-color: #fff;
    padding: 30px 0;
}

section.ebus .busform .coll .btn {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #cc181c;
    max-width: 250px;
    padding: 12px 0;
    border-radius: 5px;
}

section.ebus .busform .coll .btn p.close {
    display: block;
}

section.ebus .busform .coll .btn p.open {
    display: none;
}

section.ebus .busform .coll .btn .line {
    width: 18px;
    height: 3px;
    background-color: #fff;
    position: relative;
}

section.ebus .busform .coll .btn p {
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

section.ebus .busform .departure.hidden .station,
section.ebus .busform .return.hidden .station {
    display: none;
}

section.ebus .busform .departure.hidden .coll,
section.ebus .busform .return.hidden .coll {
    background-color: transparent;
    border-top: 5px solid #6ab146;
    position: relative;
    padding-top: 50px;
}

section.ebus .busform .departure.hidden .coll::after,
section.ebus .busform .return.hidden .coll::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 45%;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(to bottom, #fff, transparent);
}

section.ebus .busform .departure.hidden .coll .btn p.close,
section.ebus .busform .return.hidden .coll .btn p.close {
    display: none;
}

section.ebus .busform .departure.hidden .coll .btn p.open,
section.ebus .busform .return.hidden .coll .btn p.open {
    display: block;
}

section.ebus .busform .departure.hidden .coll .btn .line::after,
section.ebus .busform .return.hidden .coll .btn .line::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 18px;
    top: -7px;
    left: 8px;
    background-color: #fff;
}

section.ebus::after {
    position: absolute;
    content: "";
    width: 100%;
    padding-bottom: 10%;
    background-image: url(../images/sea.png);
    bottom: 0%;
    left: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

section.route {
    padding-bottom: 250px;
    position: relative;
}

section.route::after {
    content: "";
    position: absolute;
    background-image: url(../images/info_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 4%;
    bottom: -1px;
    left: 0;
}

section.route .title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.route .title .pic {
    position: relative;
    z-index: 4;
    max-width: 80px;
    transform: translateY(-100px) rotate(-15deg);
}

section.route .title h2 {
    font-size: clamp(40px, 4vw, 60px);
    font-weight: bold;
    text-align: center;
    color: #000;
    line-height: 1;
}

section.route .subtitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #000;
    margin-bottom: 16px;
}

section.route .info {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

section.route .info p {
    font-family: "Microsoft JhengHei";
    font-size: 18px;
    line-height: 1.67;
    color: #000;
}

section.route .route_map {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

section.route .route_map .row {
    display: flex;
    align-items: flex-end;
    position: relative;
}

section.route .route_map .row2 {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

section.route .route_map .row2::after {
    content: "";
    position: absolute;
    background-image: url(../images/greenline.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 10.8%;
    bottom: 64.5%;
    left: 0;
    z-index: -1;
}

section.route .route_map .station {
    margin-top: 30px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
}

section.route .route_map .station p {
    font-family: "Microsoft JhengHei";
    font-size: 24px;
    font-weight: bold;
    color: #6ab146;
    max-width: 200px;
    text-align: center;
    line-height: 1.1;
    transition: 0.25s linear;
}

section.route .route_map .station span {
    line-height: 1.1;
    max-width: 200px;
    font-family: "Microsoft JhengHei";
    font-size: 12px;
    font-weight: bold;
    color: #6ab146;
    text-align: center;
    transition: 0.25s linear;
}

section.route .route_map .station .pic {
    width: 40px;
    height: 40px;
    border: 2px solid #6ab146;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: 0.25s linear;
}

section.route .route_map .station .pic img {
    max-width: 20px;
}





section.route .route_map .map {
    margin-top: 75px;
}

section.transport {
    position: relative;
    background-color: #bbd269;
    padding-bottom: 7vw;
}

section.transport::after {
    content: "";
    position: absolute;
    background-image: url(../images/spot_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 6%;
    bottom: 0;
    left: 0;
    background-position: bottom center;
}

section.transport>.title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-130px);
}

section.transport>.title .pic {
    position: relative;
    z-index: 4;
    max-width: 130px;
    transform: translateY(-10px);
}

section.transport>.title h2 {
    font-size: clamp(40px, 4vw, 60px);
    font-weight: bold;
    text-align: center;
    color: #000;
    line-height: 1;
}

section.transport .subtitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #000;
    transform: translateY(-130px);
}

section.transport .content {
    max-width: 960px;
    transform: translateY(-100px);
    width: 90%;
    margin: 0 auto;
}

section.transport .content .row {
    display: flex;
    gap: 2%;
}

section.transport .content .row .box {
    position: relative;
    width: 49%;
    background-color: #fff;
    padding-left: 2.5vw;
    min-height: 230px;
    display: flex;
    align-items: center;
    border-radius: 0 30px 0 30px;
    padding-top: 58px;
    padding-bottom: 25px;
}

section.transport .content .row .box .title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #dd5322;
    padding: 5px 15px;
}

section.transport .content .row .box .title .pic {
    max-width: 27px;
    transform: translate(-5px, -5px);
}

section.transport .content .row .box .title p {
    font-family: "Microsoft JhengHei";
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

section.transport .content .row .box .title span {
    font-family: "Microsoft JhengHei";
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

section.transport .content .row .box .inner .main {
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    font-weight: bold;
    color: #000;
    letter-spacing: 1.5px;
}

section.transport .content .row .box .inner .main span {
    font-size: 36px;
    font-weight: bold;
}

section.transport .content .row .box .inner .sub {
    font-family: "Microsoft JhengHei";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8;
}

section.transport .content .row .box .inner .point {
    position: relative;
    padding-left: 10px;
    font-family: "Microsoft JhengHei";
    font-size: 18px;
    font-weight: bold;
}

section.transport .content .row .box .inner .point::after {
    content: "";
    position: absolute;
    background-color: #dd5322;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 0;
}

section.transport .content .row .hotline .main {
    padding-left: 10px;
}

section.transport .content .box {
    margin-top: 25px;
    position: relative;
    width: 100%;
    background-color: #fff;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 230px;
    display: flex;
    align-items: center;
    border-radius: 0 30px 0 30px;
}

section.transport .content .box .title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #dd5322;
    border-radius: 0 0 10px 0;
    padding: 5px 15px;
}

section.transport .content .box .title .pic {
    max-width: 27px;
    transform: translate(-5px, -5px);
}

section.transport .content .box .title p {
    font-family: "Microsoft JhengHei";
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

section.transport .content .box .title span {
    font-family: "Microsoft JhengHei";
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

section.transport .content .box .inner .main {
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

section.transport .content .box .inner .main span {
    font-size: 36px;
    font-weight: bold;
}

section.transport .content .box .inner .sub {
    font-family: "Microsoft JhengHei";
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}

section.transport .content .box .inner .links {
    position: relative;
    padding-left: 10px;
    font-family: "Microsoft JhengHei";
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

section.transport .content .box .inner .links .link {
    max-width: 24px;
    transform: translate(5px, 2px);
}

section.transport .content .box .inner .links p {
    font-family: "Microsoft JhengHei";
    padding-bottom: 2px;
    position: relative;
    font-weight: bold;
    display: block;
}

section.transport .content .box .inner .links p::after {
    content: "";
    position: absolute;
    background-color: #dd5322;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    transform-origin: 0 0;
    transition: transform 0.4s cubic-bezier(0.13, 0.78, 0.38, 0.98);
}

section.transport .content .box .inner .links:hover p {
    padding-bottom: 2px;
}

section.transport .content .box .inner .links:hover p::after {
    animation: lineAniamte 0.8s 1;
    animation-fill-mode: forwards;
}

section.transport .content .box .inner .links::after {
    content: "";
    position: absolute;
    background-color: #dd5322;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 0;
}

section.transport .content .box .inner .point {
    position: relative;
    padding-left: 10px;
    font-family: "Microsoft JhengHei";
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
}

section.transport .content .box .inner .point p {
    font-family: "Microsoft JhengHei";
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
}

section.transport .content .box .inner .point::after {
    content: "";
    position: absolute;
    background-color: #dd5322;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 0;
}

section.transport .content .box .inner .point span.bold {
    font-family: "Microsoft JhengHei";
    font-size: 24px;
    line-height: 1.6;
    color: #000;
    font-weight: bold;
}

section.transport .content .transportation .inner .point {
    margin-top: 1.5vw;
}

section.transport .content .transportation .inner .point::after {
    top: 17px;
}

@keyframes lineAniamte {
    0% {
        transform-origin: 100% 0;
        transform: scaleX(1);
    }
    50% {
        transform-origin: 100% 0;
        transform: scaleX(0);
    }
    50.1% {
        transform-origin: 0% 0;
        transform: scaleX(0);
    }
    100% {
        transform-origin: 0% 0;
        transform: scaleX(1);
    }
}

section.spot {
    position: relative;
    background-color: #f7f7f7;
    padding-bottom: 2vw;
}

section.spot .title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-130px);
}

section.spot .title .pic {
    position: relative;
    z-index: 4;
    max-width: 130px;
    transform: translateY(-10px);
}

section.spot .title h2 {
    font-size: clamp(40px, 4vw, 60px);
    font-weight: bold;
    text-align: center;
    color: #000;
    line-height: 1;
}

section.spot .subtitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #000;
    transform: translateY(-130px);
}

section.spot .content {
    transform: translateY(-50px);
    position: relative;
    padding-left: 40px;
    border-left: 2px solid #0e6091;
}

section.spot .content .num {
    position: absolute;
    background-color: #0e6091;
    width: 4vw;
    height: 4vw;
    max-width: 45px;
    max-height: 45px;
    min-width: 35px;
    min-height: 35px;
    top: 0px;
    left: -2%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.spot .content .num p {
    line-height: 0;
    font-size: 36px;
    font-size: clamp(24px, 2.25vw, 36px);
    color: #fff;
    transform: translateY(1px);
    font-weight: bold;
    font-family: "Arial";
}

section.spot .content .bus {
    position: absolute;
    background-color: #f7f7f7;
    width: 55px;
    height: 65px;
    bottom: -7px;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.spot .content .bus .icon {
    max-width: 45px;
}

section.spot .content .name,
section.spot .content .subname {
    font-size: clamp(35px, 3vw, 42px);
    font-weight: 500;
    line-height: 1.33;
    text-align: left;
    color: #0e6091;
    padding-left: 5px;
}

section.spot .content .subname {
    font-size: clamp(20px, 2vw, 30px);
}

section.spot .content .cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-left: 5px;
}

section.spot .content .cards .card {
    display: flex;
    flex-direction: column;
    min-width: 272px;
    margin-top: 35px;
    width: 272px;
    box-shadow: -0.2px 3px 8px 0 rgba(0, 0, 0, 0.35);
}

section.spot .content .cards .card .pic {
    position: relative;
    width: 100%;
    padding-bottom: 65%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.spot .content .cards .card .pic::before {
    transition: 0.25s linear;
    opacity: 0;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 32px;
    height: 47px;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    background-image: url(../images/icon-map.svg);
}

section.spot .content .cards .card .pic::after {
    transition: 0.25s linear;
    opacity: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(86, 121, 174, 0.75);
}

section.spot .content .cards .card .og {
    background-color: #e15e24;
}

section.spot .content .cards .card .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

section.spot .content .cards .card .text .spotname {
    margin-top: 17PX;
}

section.spot .content .cards .card .text .spotname .en,
section.spot .content .cards .card .text .spotname .cn {
    font-family: "Microsoft JhengHei";
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: #000;
}

section.spot .content .cards .card .text .spotname .cn {
    font-size: 17.5px;
}

section.spot .content .cards .card .text .info {
    display: flex;
    margin-top: 15px;
    gap: 5px;
}

section.spot .content .cards .card .text .info .icon {
    max-width: 20px;
}

section.spot .content .cards .card .text .info .en,
section.spot .content .cards .card .text .info .cn {
    font-family: "Microsoft JhengHei";
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: #c85027;
}

section.spot .content .cards .card .text .info .cn {
    font-size: 16px;
}

section.spot .content .cards .card:hover .pic::after {
    opacity: 1;
}

section.spot .content .cards .card:hover .pic::before {
    opacity: 1;
}

section.spot .content .location {
    max-width: 150px;
    margin-top: 60px;
    background-color: #c85027;
    border-radius: 0 10px 0 10px;
    padding: 9px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.25s linear;
    margin-left: 5px;
}

section.spot .content .location p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}

section.spot .content .location .icon {
    max-width: 22px;
}

section.spot .content .location:hover {
    background-color: #0e6091;
}

section.spot .even {
    margin-top: 10px;
    padding-top: 40px;
}

section.spot .even .num {
    top: 45px;
    border: 1px solid #0e6091;
    background-color: #fff;
}

section.spot .even .num p {
    color: #0e6091;
}

section.spot .odd {
    margin-top: 10px;
    padding-top: 40px;
}

section.spot .odd .num {
    top: 45px;
}

@media screen and (max-width: 980px) {
    section.banner {
        margin-top: 50px;
        padding-bottom: 12%;
    }
    section.banner .bg {
        padding-bottom: 1%;
    }
    section.banner .slogan {
        width: 66%;
        padding-bottom: 29%;
        top: 4.5%;
        left: 3%;
    }
    section.banner .key {
        width: 80.2%;
        padding-bottom: 76%;
        top: 33%;
        right: 52%;
        transform: translateX(46%);
    }
    section.banner .airplane {
        width: 35%;
        padding-bottom: 20%;
        top: 20%;
        right: 2%;
    }
    section.banner .scroll {
        width: 50px;
        height: 52px;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        background-repeat: no-repeat;
        animation: scroll;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes scroll {
        to {
            top: 85%;
        }
        from {
            top: 88%;
        }
    }
    section.ebus .title::after {
        display: none;
    }
    section.ebus .busform .station {
        width: 100%;
        margin: 0 auto;
        padding: 8px;
        padding-top: 75px;
    }
    section.ebus .busform .station .row {
        flex-direction: column;
        align-items: center;
        row-gap: 97px;
    }

    section.ebus .busform .station .row .bus::after {
        top: 110%;
        transform: translateX(-50%);
        left: 50%;
        width: 3px;
        height: 39%;
    }

    section.ebus .busform .station .row1 .bus .num-right ::after {
        display: none;
    }
    
        section.ebus .busform .station .row2 .bus .num-left ::after {
        top: 290%;
        transform: translateX(-50%);
        left: 50%;
        width: 3px;
        height: 95%;
    }
    section.ebus .busform .station .row2 .bus .num ::after {
     display: none;
    }
    
    section.ebus .busform .station .row .bus::before {
        top: 142%;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        left: 50%;
    }
    section.ebus .busform .station .row .on .num::after {
        top: -72px;
        left: -24px;
        width: 111px;
        height: 60px;
    }
    section.ebus .busform .station .row1 .bus:last-child::before {
        display: block;
    }
    section.ebus .busform .station .row1 .bus:last-child::after {
        display: block;
    }
    section.ebus .busform .station .row2 {
        margin-top: 100px;
    }
    section.ebus .busform .station .line {
        display: none;
    }
   
    section.ebus .busform .instruct {
        width: 90%;
        max-width: 350px;
        padding-right: 15px;
        padding-left: 8vw;
    }
    section.ebus .busform .instruct p {
        font-size: 24px;
    }
    section.route {
        padding-bottom: 10vw;
    }
    section.route .title .pic {
        max-width: 50px;
        transform: translateY(-50px) rotate(-15deg);
    }
    section.route .route_map .row {
        flex-direction: column;
        align-items: center;
    }
    section.route .route_map .row .station {
        width: 100%;
        margin-top: 50px;
    }
    section.route .route_map .row .station::after {
        content: "";
        position: absolute;
        width: 4px;
        height: 40px;
        top: 103%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #6ab146;
    }
    section.route .route_map .row2 {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    section.route .route_map .row2 .station {
        width: 100%;
        margin-top: 50px;
    }
    section.route .route_map .row2 .station .pic {
        order: 1;
    }
    section.route .route_map .row2 .station:first-child::after {
        display: none;
    }
    section.route .route_map .row2 .station4 {
        order: 4;
    }
    section.route .route_map .row2 .station3 {
        order: 3;
    }
    section.route .route_map .row2 .station2 {
        order: 2;
    }
    section.route .route_map .row2 .station1 {
        order: 1;
    }
    section.route .route_map .row2::after {
        display: none;
    }
    section.transport {
        padding-bottom: 10vw;
    }
    section.transport .title {
        transform: translateY(0px);
    }
    section.transport .title .pic {
        max-width: 100px;
    }
    section.transport .subtitle {
        transform: translateY(0px);
        font-size: 20px;
        margin-bottom: 10px;
    }
    section.transport .content {
        transform: translateY(0px);
        width: 95%;
    }
    section.transport .content .row {
        flex-direction: column;
    }
    section.transport .content .row .box {
        border-radius: 0 20px 0 20px;
        width: 100%;
    }
    section.transport .content .row .box .title .pic {
        max-width: 20px;
    }
    section.transport .content .row .box .title p {
        font-size: 18px;
    }
    section.transport .content .row .box .title span {
        font-size: 16px;
    }
    section.transport .content .box {
        border-radius: 0 20px 0 20px;
    }
    section.transport .content .box .title .pic {
        max-width: 20px;
    }
    section.transport .content .box .title p {
        font-size: 18px;
    }
    section.transport .content .box .title span {
        font-size: 16px;
    }
    section.transport .content .box .inner .point {
        font-size: 18px;
    }
    section.transport .content .box .inner .point span.bold {
        font-size: 24px;
    }
    section.transport .content .box .inner .point p {
        font-size: 18px;
    }
    section.transport .content .box .inner .links p {
        text-decoration: underline;
        text-decoration-color: #dd5322;
        text-underline-offset: 5px;
    }
}

@media screen and (max-width: 980px) and (max-width: 450px) {
    section.transport .content .box .inner .links p {
        width: 88%;
    }
}

@media screen and (max-width: 980px) {
    section.transport .content .box .inner .links p::after {
        display: none;
    }
    section.spot {
        padding-bottom: 16vw;
    }
    section.spot .even,
    section.spot .odd {
        padding-top: 60px;
    }
    section.spot .even .num,
    section.spot .odd .num {
        left: -19px;
        top: 68px;
    }
    section.spot .title {
        transform: translateY(0px);
    }
    section.spot .title .pic {
        max-width: 100px;
    }
    section.spot .subtitle {
        transform: translateY(0px);
        font-size: 20px;
        margin-bottom: 40px;
    }
    section.spot .content {
        transform: translateY(0px);
        padding-left: 35px;
    }
    section.spot .content .num {
        left: -19px;
    }
    section.spot .content .bus .icon {
        max-width: 30px;
    }
    section.spot .content .cards {
        gap: 10px;
        padding-bottom: 30px;
    }
    section.spot .content .cards .card {
        margin-top: 30px;
        width: 272px;
        margin-right: 10px;
        margin-left: 5px;
        box-shadow: -0.2px 1px 10px 0 rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 980px) and (max-width: 365px) {
    section.spot .content {
        padding-left: 20px;
    }
    section.spot .content .cards .card {
        width: 240px;
        min-width: 240px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 980px) {
    section.spot .content .location {
        margin-top: 24px;
    }
    section.spot .content .location p {
        font-size: 18px;
    }
}

.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6117647059);
    z-index: 100;
    overflow-y: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lightbox .container {
    padding: 0;
    position: relative;
    width: 80vw;
    min-width: 300px;
}

.lightbox figure {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 980px) {
    .lightbox figure {
        flex-direction: column;
    }
}

.lightbox figure img {
    width: 50%;
}

@media screen and (max-width: 980px) {
    .lightbox figure img {
        width: 100%;
    }
}

.lightbox .close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
}

@media screen and (max-width: 980px) {
    .lightbox .close_btn {
        transform: scale(0.85);
        top: 5px;
        right: 5px;
    }
}

.lightbox .close_btn::before,
.lightbox .close_btn::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
}

.lightbox .close_btn::before {
    transform: translate(-50%, -50%) rotate(40deg);
}

.lightbox .close_btn:after {
    transform: translate(-50%, -50%) rotate(-40deg);
}

.lightbox .close_btn:hover:before {
    transform: translate(-50%, -50%) rotate(-40deg);
}

.lightbox .close_btn:hover:after {
    transform: translate(-50%, -50%) rotate(40deg);
}


.stop1 {
      flex: 0 0 8%;  // 固定寬度 8%，比其他小
}



section.route .route_map .mainStation p {
    font-family: "Microsoft JhengHei";
    font-size: 24px;
    font-weight: bold;
    color: #dd5322;
    max-width: 200px;
    text-align: center;
    line-height: 1.1;
    transition: 0.25s linear;

}

section.route .route_map .mainStation span {
    line-height: 1.1;
    max-width: 200px;
    font-family: "Microsoft JhengHei";
    font-size: 12px;
    font-weight: bold;
    color: #dd5322;
    text-align: center;
    transition: 0.25s linear;

}


.mainStation .icon {
    background-color: #dd5322;
    color: #ffffff;
    border: 2px solid #e29837;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.25s linear;
    display: flex;

} 


.mainStation .icon img {
 
  max-height: 20px;
  display: block;


}

.point span + span {
  margin-left: 10px;
}


.route .title h2 {
    margin-bottom: 55px;
}


section.ebus .busform .station .return ::after {
    position: absolute;
    content: "";
    width: 14%;
    padding-bottom: 23%;
    background-image: url(../images/turtle.png);
    bottom: -9px;
    right: -11%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

// 彩色bus
section.ebus .busform .station .row .on .num::before {
    position: absolute;
    content: "";
    background-image: url(../images/pic-bus-colorfu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: -80px;
    left: -31px;
    width: 126px;
    height: 69px;
    animation: busShake 1s infinite;
}



@media (min-width: 992px) {
    .nav_top_wrap a {
        font-size: .75em;
        line-height: 2.5;
    }
}

.nav_lang_wrap {
    position: relative;
    z-index: 12;
    margin-left: .75rem;
     border: 1px solid #000000;
     border-radius: .5rem;

}

.nav_lang_parent {
    position: relative;
    display: block;
    padding: 0 1.75rem 0 .75rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: .5rem;
}

.nav_lang a {
    position: relative;
    display: block;
    padding: .5rem;
    line-height: 1.5;
    text-align: center;
    color: #3c3c3c;
}

.nav_lang li:hover {
    background-color: #f0f0f0;
    color: #005bb5;
}
.nav_lang li:hover {
    background-color: #f0f0f0;
    color: #005bb5;
}


.nav_lang_parent:after {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    right: .5rem;
    width: 13px;
    height: 13px;
    background-image: url(../images/nav_lang_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


.nav_lang {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  margin-top: 4px;
  background: #fff;
  border: 1px solid #ccc;
  transition: visibility 0.3s, opacity 0.3s;
}

.nav_lang.open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}


// .nav_lang ul {
//     // visibility: hidden;
//     // overflow: hidden;
//     position: absolute;
//     width: 100%;
//     margin-top: -20px;
//     background-color: #fff;
//     border: 1px solid #3c3c3c;
//     opacity: 0;
//     -webkit-transition: all .5s ease-in-out;
//     transition: all .5s ease-in-out;
// }

.right .lang nav a  {
    position: relative;
    display: block;
    padding: .5rem;
    line-height: 1.5;
    text-align: center;
    color: #3c3c3c;
}

@media (min-width: 992px) {
    .nav_top_wrap a {
        font-size: .75em;
        line-height: 2.5;
    }
}

@media (min-width: 992px) {
    .nav_top_wrap a:focus:not(:focus-visible) {
        outline: 0;
    }
}

@media (min-width: 992px) {
    .nav_top_wrap a:focus {
        outline-offset: -2px;
        outline: 2px dotted #ffcc02;
    }
}


.nav_lang_parent {
    color: #005bb5;
    background-color: #ffffe9;
    text-decoration: none;
}

.nav_lang_parent:hover, .nav_lang_parent:focus {
    color: #005bb5;
    background-color: #ffffe9;
    text-decoration: none;
}



@media (min-width: 992px) {
    .nav_top_wrap a {
        font-size: .75em;
        line-height: 2.5;
    }
}

.right .lang nav a {
    position: relative;
    display: block;
    padding-top: 0px;
    padding-right: 28px;
    padding-bottom: 0px;
    padding-left: 12px;
    color: #000000;
    line-height: 2.5;


}



.header .lang a:hover {
    text-decoration: underline;
    color: #005bb5;
}


.nav_lang_parent:after {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    right: .5rem;
    width: 13px;
    height: 13px;
    background-image: url(../images/nav_lang_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.lang-open:after {
    background: url(../images/nav_lang_arrow-hover.svg) no-repeat center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}