// Layout - Footer
@use '../base/mixins' as mix;
@use '../base/variables' as var;

.footer {
  background-color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 0;
}

.footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .copyright p {
  color: var.$white;
  font-family: var.$font-family-primary;
  font-size: 14px;

  @include mix.mobile {
    font-size: 12px;
    text-align: center;
  }
}

// Go to top button
.gotop {
  -webkit-tap-highlight-color: transparent;
  display: none;
  position: fixed;
  right: 15px;
  bottom: 55px;
  width: 50px;
  height: 44px;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.25s linear;
}
.gotop__icon{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


// Additional responsive styles from _responsive.scss
@media (min-width: var.$breakpoint-medium-plus) {
  .gotop:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}