// Spot Section Styles
@use '../base/variables' as var;
@use '../base/mixins' as mix;

section.spot {
    position: relative;
    background-color: var.$light-gray;
    padding-bottom: 7vw;
}

section.spot::after {
    content: "";
    position: absolute;
    background-image: url(../images/spot_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 6%;
    bottom: 0;
    left: 0;
    background-position: bottom center;
}

section.spot>.title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-130px);
}

section.spot>.title .pic {
    position: relative;
    z-index: 4;
    max-width: 130px;
    transform: translateY(-10px);
}

section.spot>.title h2 {
    font-size: clamp(40px, 4vw, 60px);
    font-weight: bold;
    text-align: center;
    color: var.$text-color;
    line-height: 1;
}

section.spot .subtitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: var.$text-color;
    transform: translateY(-130px);
}

section.spot .content {
    max-width: 960px;
    transform: translateY(-100px);
    width: 90%;
    margin: 0 auto;
}

section.spot .content .row {
    display: flex;
    gap: 2%;
    justify-content: space-evenly;
}

section.spot .content .row .box {
    position: relative;
    width: 47%;
    background-color: var.$white;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 230px;
    display: flex;
    align-items: center;
    border-radius: 0 30px 0 30px;
    padding-top: 58px;
    padding-bottom: 25px;
}

section.spot .content .row .box .title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var.$primary-color;
    padding: 5px 15px;
}

section.spot .content .row .box .title .pic {
    max-width: 27px;
    transform: translate(-5px, -5px);
}

section.spot .content .row .box .title p {
    font-family: var.$font-family-primary;
    font-size: 24px;
    font-weight: bold;
    color: var.$white;
}

section.spot .content .row .box .title span {
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
    color: var.$white;
}

section.spot .content .row .box .inner .main {
    font-family: var.$font-family-primary;
    font-size: 20px;
    font-weight: bold;
    color: var.$text-color;
    letter-spacing: 1.5px;
}

section.spot .content .row .box .inner .main span {
    font-size: 36px;
    font-weight: bold;
}

section.spot .content .row .box .inner .sub {
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8;
}

section.spot .content .row .box .inner .point {
    position: relative;
    padding-left: 10px;
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
}

section.spot .content .row .box .inner .point::after {
    content: "";
    position: absolute;
    background-color: var.$primary-color;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 0;
}

section.spot .content .row .hotline .main {
    padding-left: 10px;
}

section.spot .content .box {
    margin-top: 25px;
    position: relative;
    width: 100%;
    background-color: var.$white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 230px;
    display: flex;
    align-items: center;
    border-radius: 0 30px 0 30px;
}

section.spot .content .box .title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var.$primary-color;
    border-radius: 0 0 10px 0;
    padding: 5px 15px;
}

section.spot .content .box .title .pic {
    max-width: 27px;
    transform: translate(-5px, -5px);
}

section.spot .content .box .title p {
    font-family: var.$font-family-primary;
    font-size: 24px;
    font-weight: bold;
    color: var.$white;
}

section.spot .content .box .title span {
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
    color: var.$white;
}

section.spot .content .box .inner .main {
    font-family: var.$font-family-primary;
    font-size: 20px;
    font-weight: bold;
    color: var.$text-color;
}

section.spot .content .box .inner .main span {
    font-size: 36px;
    font-weight: bold;
}

section.spot .content .box .inner .sub {
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}

section.spot .content .box .inner .links {
    position: relative;
    padding-left: 10px;
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

section.spot .content .box .inner .links .link {
    max-width: 24px;
    transform: translate(5px, 2px);
}

section.spot .content .box .inner .links p {
    font-family: var.$font-family-primary;
    padding-bottom: 2px;
    position: relative;
    font-weight: bold;
    display: block;
}

section.spot .content .box .inner .links p::after {
    content: "";
    position: absolute;
    background-color: var.$primary-color;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    transform-origin: 0 0;
    transition: transform 0.4s cubic-bezier(0.13, 0.78, 0.38, 0.98);
}

section.spot .content .box .inner .links:hover p {
    padding-bottom: 2px;
}

section.spot .content .box .inner .links:hover p::after {
    animation: lineAniamte 0.8s 1;
    animation-fill-mode: forwards;
}

section.spot .content .box .inner .links::after {
    content: "";
    position: absolute;
    background-color: var.$primary-color;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 0;
}

section.spot .content .box .inner .point {
    position: relative;
    padding-left: 10px;
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
}

section.spot .content .box .inner .point p {
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
}

section.spot .content .box .inner .point::after {
    content: "";
    position: absolute;
    background-color: var.$primary-color;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 0;
}

section.spot .content .box .inner .point span.bold {
    font-family: var.$font-family-primary;
    font-size: 24px;
    line-height: 1.6;
    color: var.$text-color;
    font-weight: bold;
}

section.spot .content .transportation .inner .point {
    margin-top: 1.5vw;
}

section.spot .content .transportation .inner .point::after {
    top: 17px;
}

@keyframes lineAniamte {
    0% {
        transform-origin: 100% 0;
        transform: scaleX(1);
    }
    50% {
        transform-origin: 100% 0;
        transform: scaleX(0);
    }
    50.1% {
        transform-origin: 0% 0;
        transform: scaleX(0);
    }
    100% {
        transform-origin: 0% 0;
        transform: scaleX(1);
    }
}

.orange {
    color: var.$primary-color;
}

p.innerp.orange.mb-2 {
    min-height: 87px;
    padding-bottom: 15px;
    border-bottom: var.$primary-color 2px dashed;
}

section.spot .content .row .col-4 {
    position: relative;
    width: 22%;
    background-color: var.$white;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 230px;
    display: flex;
    align-items: center;
    border-radius: 0 30px 0 30px;
    padding-top: 58px;
    padding-bottom: 25px;
}

@include mix.respond-to(small) {
    section.spot {
        padding-bottom: 10vw;
    }
    section.spot .title {
        transform: translateY(0px);
    }
    section.spot .title .pic {
        max-width: 100px;
    }
    section.spot .subtitle {
        transform: translateY(0px);
        font-size: 20px;
        margin-bottom: 10px;
    }
    section.spot .content {
        transform: translateY(0px);
        width: 95%;
    }
    section.spot .content .row {
        flex-direction: row;
        gap: 1%;
    }

    section.spot .content .row .box {
        border-radius: 0 20px 0 20px;
        width: 47%;
    }
    section.spot .content .row .box .title .pic {
        max-width: 20px;
    }
    section.spot .content .row .box .title p {
        font-size: 18px;
    }
    section.spot .content .row .box .title span {
        font-size: 16px;
    }
    section.spot .content .box {
        border-radius: 0 20px 0 20px;
    }
    section.spot .content .box .title .pic {
        max-width: 20px;
    }
    section.spot .content .box .title p {
        font-size: 18px;
    }
    section.spot .content .box .title span {
        font-size: 16px;
    }
    section.spot .content .box .inner .point {
        font-size: 18px;
    }
    section.spot .content .box .inner .point span.bold {
        font-size: 24px;
    }
    section.spot .content .box .inner .point p {
        font-size: 18px;
    }
    section.spot .content .box .inner .links p {
        text-decoration: underline;
        text-decoration-color: var.$primary-color;
        text-underline-offset: 5px;
    }
}

@include mix.respond-to(small-450) {
    section.spot .content .box .inner .links p {
        width: 88%;
    }
}

@include mix.respond-to(small) {
    section.spot .content .box .inner .links p::after {
        display: none;
    }
}

@include mix.respond-to(small) {
    section.spot .content .row {
        flex-direction: row;
    }

    section.spot .content .row .col-4 {
    position: relative;
    width: 47%;
    background-color: var.$white;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 230px;
    display: flex;
    align-items: center;
    border-radius: 0 30px 0 30px;
    padding-top: 58px;
    padding-bottom: 25px;
}

p.innerp.orange.mb-2 {
    min-height: 0px;
    padding-bottom: 15px;
    border-bottom: var.$primary-color 2px dashed;
}

}

@include mix.respond-to(extra-small) {
    section.spot .content .row {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    section.spot .content .row .col-4 {
    position: relative;
    width: 94%;
    background-color: var.$white;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 230px;
    display: flex;
    align-items: center;
    border-radius: 0 30px 0 30px;
    padding-top: 58px;
    padding-bottom: 25px;
}

}

@include mix.respond-to(tiny) {
   p.innerp.orange.mb-2 {
    height: 40px;
    padding-bottom: 15px;
    border-bottom: var.$primary-color 2px dashed;
}

 section.spot .content .row .box {
        border-radius: 0 20px 0 20px;
        width: 94%;
    }



    .ticket {
    height: 48px;
}

    }





















    section.spot {
  position: relative;
  background-color: #f7f7f7;
  padding-bottom: 2vw;
}

section.spot .title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-130px);
}

section.spot .title .pic {
  position: relative;
  z-index: 4;
  max-width: 130px;
  transform: translateY(-10px);
}

section.spot .title h2 {
  font-size: clamp(40px, 4vw, 60px);
  font-weight: bold;
  text-align: center;
  color: #000;
  line-height: 1;
}

section.spot .subtitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #000;
  transform: translateY(-130px);
}

section.spot .content {
  transform: translateY(-50px);
  position: relative;
  padding-left: 40px;
  border-left: 2px solid #0e6091;
}

section.spot .content .num {
  position: absolute;
  background-color: #0e6091;
  width: 4vw;
  height: 4vw;
  max-width: 45px;
  max-height: 45px;
  min-width: 35px;
  min-height: 35px;
  top: 0px;
  left: -2%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.spot .content .num p {
  line-height: 0;
  font-size: 36px;
  font-size: clamp(24px, 2.25vw, 36px);
  color: #fff;
  transform: translateY(1px);
  font-weight: bold;
  font-family: "Arial";
}

section.spot .content .bus {
  position: absolute;
  background-color: #f7f7f7;
  width: 55px;
  height: 65px;
  bottom: -7px;
  left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.spot .content .bus .icon {
  max-width: 45px;
}

section.spot .content .name,
section.spot .content .subname {
  font-size: clamp(35px, 3vw, 42px);
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #0e6091;
  padding-left: 5px;
}

section.spot .content .subname {
  font-size: clamp(20px, 2vw, 30px);
}

section.spot .content .cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  padding-left: 5px;
}

section.spot .content .cards .card {
  display: flex;
  flex-direction: column;
  min-width: 272px;
  margin-top: 35px;
  width: 272px;
  box-shadow: -0.2px 3px 8px 0 rgba(0, 0, 0, 0.35);
}

section.spot .content .cards .card .pic {
  position: relative;
  width: 100%;
  padding-bottom: 65%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.spot .content .cards .card .pic::before {
  transition: 0.25s linear;
  opacity: 0;
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 47px;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-image: url(../images/icon-map.svg);
}

section.spot .content .cards .card .pic::after {
  transition: 0.25s linear;
  opacity: 0;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(86, 121, 174, 0.75);
}

section.spot .content .cards .card .og {
  background-color: #e15e24;
}

section.spot .content .cards .card .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

section.spot .content .cards .card .text .spotname {
  margin-top: 17PX;
}

section.spot .content .cards .card .text .spotname .en,
section.spot .content .cards .card .text .spotname .cn {
  font-family: "Microsoft JhengHei";
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
  color: #000;
}

section.spot .content .cards .card .text .spotname .cn {
  font-size: 17.5px;
}

section.spot .content .cards .card .text .info {
  display: flex;
  margin-top: 15px;
  gap: 5px;
}

section.spot .content .cards .card .text .info .icon {
  max-width: 20px;
}

section.spot .content .cards .card .text .info .en,
section.spot .content .cards .card .text .info .cn {
  font-family: "Microsoft JhengHei";
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
  color: #c85027;
}

section.spot .content .cards .card .text .info .cn {
  font-size: 16px;
}

section.spot .content .cards .card:hover .pic::after {
  opacity: 1;
}

section.spot .content .cards .card:hover .pic::before {
  opacity: 1;
}

section.spot .content .location {
  max-width: 150px;
  margin-top: 60px;
  background-color: #c85027;
  border-radius: 0 10px 0 10px;
  padding: 9px 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.25s linear;
  margin-left: 5px;
}

section.spot .content .location p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

section.spot .content .location .icon {
  max-width: 22px;
}

section.spot .content .location:hover {
  background-color: #0e6091;
}

section.spot .even {
  margin-top: 10px;
  padding-top: 40px;
}

section.spot .even .num {
  top: 45px;
  border: 1px solid #0e6091;
  background-color: #fff;
}

section.spot .even .num p {
  color: #0e6091;
}

section.spot .odd {
  margin-top: 10px;
  padding-top: 40px;
}

section.spot .odd .num {
  top: 45px;
}