// Transport Section Styles
@use '../base/mixins' as mix;
@use '../base/variables' as var;

section.transport {
    position: relative;
    background-color: var.$secondary-color;
    padding-bottom: 7vw;
}

section.transport::after {
    content: "";
    position: absolute;
    background-image: url(../images/spot_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 6%;
    bottom: 0;
    left: 0;
    background-position: bottom center;
}

section.transport>.title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-130px);
    margin-bottom: 28px;

}

section.transport>.title .pic {
    position: relative;
    z-index: 4;
    max-width: 130px;
    transform: translateY(-10px);
}

section.transport>.title h2 {
    font-size: clamp(40px, 4vw, 60px);
    font-weight: bold;
    text-align: center;
    color: var.$text-color;
    line-height: 1;
}

section.transport .subtitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: var.$text-color;
    transform: translateY(-130px);
}

section.transport .content {
    max-width: 960px;
    transform: translateY(-100px);
    // width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section.transport .content .row {
    // 移除自定義 flex 屬性，讓 Bootstrap 的 .row 處理網格
}

section.transport .content .row .box .title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var.$primary-color;
    padding: 5px 15px;
}

section.transport .content .row .box .title .pic {
    max-width: 27px;
    transform: translate(-5px, -5px);
}

section.transport .content .row .box .title p {
    font-family: var.$font-family-primary;
    font-size: 24px;
    font-weight: bold;
    color: var.$white;
}

section.transport .content .row .box .title span {
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
    color: var.$white;
}


section.transport .content .row .box .inner{
    height: 100%;
    display: flex;
    flex-direction: column;
}
section.transport .content .row .box .inner .main {
    font-family: var.$font-family-primary;
    font-size: 20px;
    font-weight: bold;
    color: var.$text-color;
    letter-spacing: 1.5px;
}

section.transport .content .row .box .inner .main span {
    font-size: 36px;
    font-weight: bold;
}

section.transport .content .row .box .inner .sub {
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8;
}

section.transport .content .row .box .inner .point {
    position: relative;
    padding-left: 10px;
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
}

section.transport .content .row .box {
    position: relative;
    background-color: var.$white;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 230px;
    display: block;
    align-items: center;
    border-radius: 0 30px 0 30px;
    padding-top: 58px;
    padding-bottom: 25px;
}


section.transport .content .row .box .inner .point::after {
    content: "";
    position: absolute;
    background-color: var.$primary-color;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 0;
}

section.transport .content .row .hotline .main {
    padding-left: 10px;
}

section.transport .content .box {
    position: relative;
    background-color: var.$white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 230px;
    display: flex;
    align-items: center;
    border-radius: 0 30px 0 30px;
}

section.transport .content .box .title {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var.$primary-color;
    border-radius: 0 0 10px 0;
    padding: 5px 15px;
}

section.transport .content .box .title .pic {
    max-width: 27px;
    transform: translate(-5px, -5px);
}

section.transport .content .box .title p {
    font-family: var.$font-family-primary;
    font-size: 24px;
    font-weight: bold;
    color: var.$white;
}

section.transport .content .box .title span {
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
    color: var.$white;
}

section.transport .content .box .inner .main {
    font-family: var.$font-family-primary;
    font-size: 20px;
    font-weight: bold;
    color: var.$text-color;
}

section.transport .content .box .inner .main span {
    font-size: 36px;
    font-weight: bold;
}

section.transport .content .box .inner .sub {
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}

section.transport .content .box .inner .links {
    position: relative;
    padding-left: 10px;
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

section.transport .content .box .inner .links .link {
    max-width: 24px;
    transform: translate(5px, 2px);
}

section.transport .content .box .inner .links p {
    font-family: var.$font-family-primary;
    padding-bottom: 2px;
    position: relative;
    font-weight: bold;
    display: block;
}

section.transport .content .box .inner .links p::after {
    content: "";
    position: absolute;
    background-color: var.$primary-color;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    transform-origin: 0 0;
    transition: transform 0.4s cubic-bezier(0.13, 0.78, 0.38, 0.98);
}

section.transport .content .box .inner .links:hover p {
    padding-bottom: 2px;
}

section.transport .content .box .inner .links:hover p::after {
    animation: lineAniamte 0.8s 1;
    animation-fill-mode: forwards;
}

section.transport .content .box .inner .links::after {
    content: "";
    position: absolute;
    background-color: var.$primary-color;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 0;
}

section.transport .content .box .inner .point {
    position: relative;
    padding-left: 10px;
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
}

section.transport .content .box .inner .point p {
    font-family: var.$font-family-primary;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
}

section.transport .content .box .inner .point::after {
    content: "";
    position: absolute;
    background-color: var.$primary-color;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 0;
}

section.transport .content .box .inner .point span.bold {
    font-family: var.$font-family-primary;
    font-size: 24px;
    line-height: 1.6;
    color: var.$text-color;
    font-weight: bold;
}

section.transport .content .transportation .inner .point {
    margin-top: 1.5vw;
}

section.transport .content .transportation .inner .point::after {
    top: 17px;
}

@keyframes lineAniamte {
    0% {
        transform-origin: 100% 0;
        transform: scaleX(1);
    }
    50% {
        transform-origin: 100% 0;
        transform: scaleX(0);
    }
    50.1% {
        transform-origin: 0% 0;
        transform: scaleX(0);
    }
    100% {
        transform-origin: 0% 0;
        transform: scaleX(1);
    }
}

.orange {
    color: var.$primary-color;
}

p.innerp.orange.mb-2 {
    min-height: 60px;
    margin-bottom: 15px;
    border-bottom: var.$primary-color 2px dashed;
}

@media screen and (max-width: 980px) {
    section.transport {
        padding-bottom: 10vw;
    }
    section.transport .title {
        transform: translateY(0px);
    }
    section.transport .title .pic {
        max-width: 100px;
    }
    section.transport .subtitle {
        transform: translateY(0px);
        font-size: 20px;
        margin-bottom: 10px;
    }
    section.transport .content {
        transform: translateY(0px);
        width: 95%;
    }

    section.transport .content .row .box {
        border-radius: 0 20px 0 20px;
    }
    section.transport .content .row .box .title .pic {
        max-width: 20px;
    }
    section.transport .content .row .box .title p {
        font-size: 18px;
    }
    section.transport .content .row .box .title span {
        font-size: 16px;
    }
    section.transport .content .box {
        border-radius: 0 20px 0 20px;
    }
    section.transport .content .box .title .pic {
        max-width: 20px;
    }
    section.transport .content .box .title p {
        font-size: 18px;
    }
    section.transport .content .box .title span {
        font-size: 16px;
    }
    section.transport .content .box .inner .point {
        font-size: 18px;
    }
    section.transport .content .box .inner .point span.bold {
        font-size: 24px;
    }
    section.transport .content .box .inner .point p {
        font-size: 18px;
    }
    section.transport .content .box .inner .links p {
        text-decoration: underline;
        text-decoration-color: var.$primary-color;
        text-underline-offset: 5px;
    }

    section.transport .content .box .inner .links p::after {
        display: none;
    }

p.innerp.orange.mb-2 {
    min-height: 0px;
    padding-bottom: 15px;
    border-bottom: var.$primary-color 2px dashed;
}

}

@media screen and (max-width: 480px){
    section.transport .content .row .box {
        // 移除 width: 100%，讓 Bootstrap 的 col-12 處理
        padding-left: 24px;
        padding-right: 24px;
        min-height: 230px;
        display: flex;
        align-items: center;
        border-radius: 0 30px 0 30px;
        padding-top: 58px;
        padding-bottom: 25px;
    }
}

p.innerp.orange.mb-2 {
    height: 40px;
    padding-bottom: 15px;
    border-bottom: var.$primary-color 2px dashed;
}


    .ticket {
    height: 48px;
}



@include mix.respond-to(small-450) {
    section.transport .content .box .inner .links p {
        width: 88%;
    }
}